.donutChart {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-in-out;
  gap: 20px;
  width: 100%;

  .donutInfo {
    .infoTitle {
      transition: all 0.35s ease-in-out;
      color: white;
      font-weight: 700;
      font-size: 12px;
    }

    .infoValue {
      transition: all 0.35s ease-in-out;
      color: var(--secondaryColor);
      font-weight: 700;
      font-size: 13.5px;
    }

    .infoText {
      transition: all 0.35s ease-in-out;
      color: var(--secondaryColor);
      font-weight: 555;
      font-size: 8.8px;
    }
  }
}
