.paymentPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: all 0.35s ease-in-out;

  .paymentTitle {
    position: fixed;
    left: 0;
    padding: 7px 13.5px;
    display: flex;
    width: 100%;
    transition: all 0.35s ease-in-out;

    .paymentLogo {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.35s ease-in-out;
      border-bottom-left-radius: 35px;
      border-top-right-radius: 35px;
      overflow: hidden;
      background-color: var(--whiteColor);
      border: 3.5px inset whitesmoke;

      .paymentLogoImage {
        width: 55px;
        object-fit: contain;
        transition: all 0.35s ease-in-out;
      }

      .paymentLogoName {
        .paymentLogoText {
          font-size: 20px;
          text-align: right;
          color: var(--primaryColor);
          font-weight: 800;
          transition: all 0.35s ease-in-out;
        }

        .paymentLogoSubText {
          font-size: 10px;
          text-align: right;
          color: var(--secondaryColor);
          font-weight: 500;
          margin-top: -5.5px;
          padding-bottom: 2px;
          transition: all 0.35s ease-in-out;
          -webkit-text-stroke: 0.35px var(--primaryColor);
        }
      }
    }
  }

  .paymentContent {
    display: flex;
    width: 100%;
    transition: all 0.35s ease-in-out;

    .paymentContainer {
      width: 100%;
      flex: 5.5;
      padding: 12px 0px 0px;
      transition: all 0.35s ease-in-out;

      .paymentWidgets {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 35px 35px 12px;
        gap: 20px;
        transition: all 0.35s ease-in-out;
      }

      .paymentTable {
        width: 100%;
        padding: 20px;
        transition: all 0.35s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .paymentPage {
    .paymentContent {
      .paymentContainer {
        .paymentWidgets {
          grid-template-columns: repeat(2, 1fr);
          transition: all 0.35s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .paymentPage {
    .paymentTitle {
      margin-top: 23.5px;
      transition: all 0.35s ease-in-out;

      .paymentLogo {
        padding-top: 7px;
        width: 55px;
        height: 55px;
        transition: all 0.35s ease-in-out;
        border-radius: 50%;
      }

      .paymentLogoImage {
        width: 35px;
        height: 35px;
        object-fit: contain;
        transition: all 0.35s ease-in-out;
      }

      .paymentLogoName {
        display: none;
        transition: all 0.35s ease-in-out;
      }
    }
  }
}
